{{ if .Site.Params.hero.enable }}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <div class="hero__left">
            <h1 class="hero__title">{{ .Site.Params.hero.hero__title }}</h1>
            <p class="hero__description">{{ .Site.Params.hero.hero__description }}</p>
            <div class="hero__subscribe store-images">
              <a target="_blank" href="https://apps.apple.com/nl/app/seren-ai-chat-journal/id6449434828">
                <img class="lazy store-image" data-src="/images/apple.svg" alt="{{.Site.Params.author.author__name}}'s Apple App Store" />
              </a>
              <a target="_blank" href="https://play.google.com/store/apps/details?id=com.goseren.seren">
                <img class="lazy store-image" data-src="/images/google.png" alt="{{.Site.Params.author.author__name}}'s Google Play Store" />
              </a>
              <a href="https://www.producthunt.com/posts/seren-ai-chat-journal?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-seren&#0045;ai&#0045;chat&#0045;journal" target="_blank">
                <img class="store-image extra-margin" src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=436130&theme=neutral" alt="Seren&#0058;&#0032;AI&#0032;Chat&#0032;Journal - Interactive&#0032;self&#0045;reflection | Product Hunt" />
              </a>
            </div>
          </div>
          <div class="hero__right">
            <div class="hero__image">
              <img class="lazy" data-src="{{ .Site.Params.hero.hero__image }}" alt="{{.Site.Params.author.author__name}}'s Picture">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->
{{ end }}
